/*place global styles here */
html, body { @apply h-full overflow-hidden; }
@font-face {
	/* font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf'); */

	/* font-family: 'HelveticaNeue MediumCond';
	src: url('/fonts/HelveticaNeue.otf'); */

	/* src: url('/fonts/Helvetica_Neue.otf'); */
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
