/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	/* use Helvetica neue */
	font-family: 'Helvetica Neue 67 Medium Condensed';
	src: url('/fonts/Helvetica_Neue.otf');
	/* Reference name */
	/* font-family: 'Inter'; */
	/* For multiple files use commas, ex: url(), url(), ... */
	/* src: url('/fonts/Inter-VariableFont_slnt,wght.ttf'); */
}
